#app {
  --op-primary-color: rgb(31, 175, 243);
  --op-gray-bg-color: rgb(244, 244, 244);
  --op-page-padding: 10px;
}

.op {
  &-thin-border {
    color: rgb(247, 68, 68);
    position: relative;
    border: none;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid rgb(247, 68, 68);
      border-radius: 20px;
      box-sizing: border-box;
      width: 500%;
      height: 500%;
      transform: scale(0.2);
      transform-origin: left top;
    }
  }

  &-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-lazyload {
    background-color: rgb(173, 171, 171);
  }

  &-fullscreen {
    background: var(--op-gray-bg-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &-overflow-hidden {
    overflow: hidden;
  }
}
